[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
mypy = "*"

[packages]
ricing = {path = "."}

[scripts]
test = "flake8 . && pylint $(pwd) && pytest tests/"
tests = "pytest tests/"
